# docs: https://aws-otel.github.io/docs/components/ecs-metrics-receiver
receivers:
  awsecscontainermetrics: # collect 52 metrics

extensions:
  sigv4auth:
    service: "aps"
    region: "eu-west-2"
    assume_role:
      arn: "${assume_role}"
      sts_region: "eu-west-2"

processors:
  metricstransform: # update metric names
    transforms:
      ### task metrics
      - include: ecs.task.memory.usage  # type: Bytes
        action: update
        new_name: TaskMemoryUsage
      - include: ecs.task.memory.usage.max  # type: Bytes
        action: update
        new_name: TaskMemoryUsageMax
      - include: ecs.task.memory.usage.limit  # type: Bytes
        action: update
        new_name: TaskMemoryUsageLimit
      - include: ecs.task.memory.reserved  # type: Megabytes
        action: update
        new_name: TaskMemoryReserved
      - include: ecs.task.memory.utilized  # type: Megabytes
        action: update
        new_name: TaskMemoryUtilized
      - include: ecs.task.cpu.usage.total  # type: Nanoseconds
        action: update
        new_name: TaskCpuUsageTotal
      - include: ecs.task.cpu.usage.kernelmode  # type: Nanoseconds
        action: update
        new_name: TaskCpuUsageKernelmode
      - include: ecs.task.cpu.usage.usermode  # type: Nanoseconds
        action: update
        new_name: TaskCpuUsageUsermode
      - include: ecs.task.cpu.usage.system  # type: Nanoseconds
        action: update
        new_name: TaskCpuUsageSystem
      - include: ecs.task.cpu.usage.vcpu  # type: vCPU
        action: update
        new_name: TaskCpuUsageVcpu
      - include: ecs.task.cpu.cores  # type: Count
        action: update
        new_name: TaskCpuCores
      - include: ecs.task.cpu.onlines  # type: Count
        action: update
        new_name: TaskCpuOnlines
      - include: ecs.task.cpu.reserved  # type: vCPU
        action: update
        new_name: TaskCpuReserved
      - include: ecs.task.cpu.utilized  # type: Percent
        action: update
        new_name: TaskCpuUtilized
      - include: ecs.task.network.rate.rx  # type: Bytes/Second
        action: update
        new_name: TaskNetworkRateRx
      - include: ecs.task.network.rate.tx  # type: Bytes/Second
        action: update
        new_name: TaskNetworkRateTx
      - include: ecs.task.network.io.usage.rx_bytes  # type: Bytes
        action: update
        new_name: TaskNetworkIoUsageRxBytes
      - include: ecs.task.network.io.usage.rx_packets  # type: Count
        action: update
        new_name: TaskNetworkIoUsageRxPackets
      - include: ecs.task.network.io.usage.rx_errors  # type: Count
        action: update
        new_name: TaskNetworkIoUsageRxErrors
      - include: ecs.task.network.io.usage.rx_dropped  # type: Count
        action: update
        new_name: TaskNetworkIoUsageRxDropped
      - include: ecs.task.network.io.usage.tx_bytes  # type: Bytes
        action: update
        new_name: TaskNetworkIoUsageTxBytes
      - include: ecs.task.network.io.usage.tx_packets  # type: Count
        action: update
        new_name: TaskNetworkIoUsageTxPackets
      - include: ecs.task.network.io.usage.tx_errors  # type: Count
        action: update
        new_name: TaskNetworkIoUsageTxErrors
      - include: ecs.task.network.io.usage.tx_dropped  # type: Count
        action: update
        new_name: TaskNetworkIoUsageTxDropped
      - include: ecs.task.storage.read_bytes  # type: Bytes
        action: update
        new_name: TaskStorageReadBytes
      - include: ecs.task.storage.write_bytes  # type: Bytes
        action: update
        new_name: TaskStorageWriteBytes
      ### container metrics
      - include: container.memory.usage  # type: Bytes
        action: update
        new_name: ContainerMemoryUsage
      - include: container.memory.usage.max  # type: Bytes
        action: update
        new_name: ContainerMemoryUsageMax
      - include: container.memory.usage.limit  # type: Bytes
        action: update
        new_name: ContainerMemoryUsageLimit
      - include: container.memory.reserved  # type: Megabytes
        action: update
        new_name: ContainerMemoryReserved
      - include: container.memory.utilized  # type: Megabytes
        action: update
        new_name: ContainerMemoryUtilized
      - include: container.cpu.usage.total  # type: Nanoseconds
        action: update
        new_name: ContainerCpuUsageTotal
      - include: container.cpu.usage.kernelmode  # type: Nanoseconds
        action: update
        new_name: ContainerCpuUsageKernelmode
      - include: container.cpu.usage.usermode  # type: Nanoseconds
        action: update
        new_name: ContainerCpuUsageUsermode
      - include: container.cpu.usage.system  # type: Nanoseconds
        action: update
        new_name: ContainerCpuUsageSystem
      - include: container.cpu.usage.vcpu  # type: vCPU
        action: update
        new_name: ContainerCpuUsageVcpu
      - include: container.cpu.cores  # type: Count
        action: update
        new_name: ContainerCpuCores
      - include: container.cpu.onlines  # type: Count
        action: update
        new_name: ContainerCpuOnlines
      - include: container.cpu.reserved  # type: vCPU
        action: update
        new_name: ContainerCpuReserved
      - include: container.cpu.utilized  # type: Percent
        action: update
        new_name: ContainerCpuUtilized
      - include: container.network.rate.rx  # type: Bytes/Second
        action: update
        new_name: ContainerNetworkRateRx
      - include: container.network.rate.tx  # type: Bytes/Second
        action: update
        new_name: ContainerNetworkRateTx
      - include: container.network.io.usage.rx_bytes  # type: Bytes
        action: update
        new_name: ContainerNetworkIoUsageRxBytes
      - include: container.network.io.usage.rx_packets  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageRxPackets
      - include: container.network.io.usage.rx_errors  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageRxErrors
      - include: container.network.io.usage.rx_dropped  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageRxDropped
      - include: container.network.io.usage.tx_bytes  # type: Bytes
        action: update
        new_name: ContainerNetworkIoUsageTxBytes
      - include: container.network.io.usage.tx_packets  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageTxPackets
      - include: container.network.io.usage.tx_errors  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageTxErrors
      - include: container.network.io.usage.tx_dropped  # type: Count
        action: update
        new_name: ContainerNetworkIoUsageTxDropped
      - include: container.storage.read_bytes  # type: Bytes
        action: update
        new_name: ContainerStorageReadBytes
      - include: container.storage.write_bytes  # type: Bytes
        action: update
        new_name: ContainerStorageWriteBytes
exporters:
  logging:
    verbosity: detailed
  prometheusremotewrite:
    endpoint: ${endpoint}
    auth:
      authenticator: sigv4auth
    add_metric_suffixes: false
    external_labels:
      Application: $${env:COPILOT_APPLICATION_NAME}
      Environment: $${env:COPILOT_ENVIRONMENT_NAME}
      Service: $${env:COPILOT_SERVICE_NAME}
    resource_to_telemetry_conversion:
      enabled: true # Convert resource attributes to metric labels
service:
  pipelines:
    metrics:
      receivers: [awsecscontainermetrics ]
      processors: [metricstransform]
      # Add logging to the exporters list to get debug output, e.g:
      #exporters: [ logging, prometheusremotewrite ]
      exporters: [ prometheusremotewrite ]
  extensions: [sigv4auth]
